{
  "presets": ["@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",

    [
      "module-resolver",
      {
        "alias": {
          "@ui": "./src/ui",
          "@features": "./src/features",
          "@lib": "./src/lib"
        }
      }
    ]
  ]
}
