{
  "plugins": [
    "react-hot-loader/babel",
    [
      "module-resolver",
      {
        "alias": {
          "@ui": "./src/ui",
          "@features": "./src/features",
          "@lib": "./src/lib"
        }
      }
    ]
  ]
}
